body{
  background-color: #cfeaeb;
  font-family: 'Open Sans', sans-serif;
}
header{
  background-color: #e84764;
}

nav{
  background-color: #ea84ac;
}

#main-banner{
  font-family: 'Baloo', cursive;
}
.main-content{
  background-color: #f9d8d5;
}
