* {
  box-sizing: border-box;
}


header{
  width: 99.5%;
  padding-top: 1px;
  height: 75%;
}

#main-banner{
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.banner-item{
  background-color: white;
  border-radius: 15%;
  width: 50%;
}

.main-content{
  padding: 25px;
}
.container{
  display: flex;
}
