/*For the non-mobile menu*/
nav{
  width: 75%;
  margin: 0 auto;
  padding: 1.5%;
  text-align: left;
}

#navigation{
  width: 100%;
}
.general-nav{
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-item{
  text-align: center;
  width: 25%;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
a {
  text-decoration: none;
}

@media (max-width: 1000px){
  h1{
    line-height: 30%;
  }
  .nav-item{
    text-align: left;
    font-size: 35 px;
  }
}
