/* Mobile*/
html, body{
  margin: 0 auto;
  padding: 0;
}

body{
  font-family: sans-serif;
}

section{
  text-align: center;
  margin: 5px;
}

#home_link{
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
h1{
  text-align: center;
  font-family: 'Baloo', cursive;
  font-size: 50px;
}

p{
  font-size: 15px;
}

.main-content{
  width: 100%;
  word-wrap: break-word;
  margin: 0 auto;
}

#main-banner{
  flex-direction: column;
}
.banner-item{
  font-size: 30px;
  margin: 10px;
}
.banner-item-text{
  border: none;
  font-size: 20px;
  font-weight: 100;
}

/*Tablet Sizing*/
@media (min-width: 550px){
  h1{
    font-size: 100px;
    letter-spacing: 5px;
  }
  h2{
    font-size: 70px;
  }
  .banner-item-text{
    border: none;
    font-size: 30px;
    font-weight: 100;
  }
  p{
    font-size: 20px;
  }
}

/*Desktop and Laptop Sizing*/
@media (min-width: 1000px){
  #main-banner{
    flex-direction: row;
  }

}
