html, body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header{
  margin-left: 0;
}

.container{
  display: flex;
}
#main-menu{
  align-items: flex-start;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.mobile-music-hearts{
  margin-left: 25%;
  margin-top: 25%;
}
.heart{
  margin-left: 35%;
}
.non-mobile{
  margin-top: 4%;
}
#logo{
  margin-top: 0;
}
.menu-text{
  text-align: center;
  font-size: 2em;
  font-family: 'Covered By Your Grace', cursive;
  margin-top: 0;
}
.mmt{
  margin-bottom: 0;
}
#other-content{
  width: 95%;
  margin: 0 auto;
}
#tapes{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: 100%;
}
#nico-tapes{
  margin-right: 0;
}
#tapes-text{
  width: 50%;
  font-size: 1em;
  background-color: white;
}
.carousel-cell{
  width: 100%; /* full width */
  height: 200px; /* height of carousel */
  margin-right: 10px;
}
/* Focusable via keyboard for accessibility */
.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/*Tablet+*/
@media (min-width: 570px){
  .menu-text{
    font-size: 2.5em;
  }

  #tapes-text{
    width: 45%;
    font-size: 1.5em;
    background-color: white;
    padding: 1%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 3%;
  }

  .carousel-cell{
    height: 325px;
  }
}
