html, body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header{
  margin-left: 0;
}

.container{
  display: flex;
}
.social-media{
  justify-content: space-around;
  width: 35%;
  margin: 0 auto;
  padding: 5%;
}
.main-menu{
  align-items: flex-start;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.mobile-music-hearts{
  margin-left: 25%;
  margin-top: 25%;
}
.heart{
  margin-left: 35%;
}
.non-mobile{
  margin-top: 4%;
}
#logo{
  margin-top: 0;
}
.menu-text{
  text-align: center;
  font-size: 2em;
  font-family: 'Covered By Your Grace', cursive;
  margin-top: 0;
}
.mmt{
  margin-bottom: 0;
}
#other-content{
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
#tapes{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: 100%;
}
#nico-tapes{
  margin-right: 0;
}
#tapes-text{
  width: 50%;
  font-size: 1em;
  background-color: white;
}
.carousel-cell{
  width: 100%; /* full width */
  height: 200px; /* height of carousel */
  margin-right: 10px;
}
/* Focusable via keyboard for accessibility */
.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.main-container{
  display: flex;
  flex-direction: column;
}

#group-photo{
  margin-left: 20%;
}
#bio-text{
  margin-left: 5%;
}

section{
  width: 90%;
  margin: 0 auto;
}

#shows{
  margin-left: 0;
}
#show-heading{
  font-size: 3em;
  margin-left: 5%;
}

/*Tablet+*/
@media (min-width: 570px){
  #logo{
    margin-left: 0;
  }
  .head-hearts{
    margin-right: -25px;
  }
  .menu-text{
    font-size: 2.5em;
  }

  #tapes-text{
    width: 45%;
    font-size: 1.5em;
    background-color: white;
    padding: 1%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 3%;
  }

  .carousel-cell{
    height: 325px;
  }
  section{
    width: 100%;
  }
  .main-container{
    flex-direction: row;
    justify-content: space-around;
  }
  #group-photo{
    margin: 0;
  }
  #section-pictures{
  }
}
