@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');

html{
  background-color: white;
}
#notice{
  background-color: white;
  padding-bottom: 1%;
  text-align: center;
  border: solid red thick;
}
header{
  background-color: #FABBC9;
}
main{
  background-color: #E7E8D8;
}
.banner{
  background-color: #FC6D92;
}
.banner-image{
  display: block;
  margin: auto;
}
.heading{
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 3.50em;
  text-align: center;
}
#shows{
  margin-left: 5%;
  width: 75%;
}
#section-pictures{
  width: 30%;
}
.bio{
  width: 75%;
  margin-left: 15%;  
}
.fancy-font{
  font-family: 'Covered By Your Grace', sans-serif;
}
.no-style{
  list-style-type: none;
}
.show-location{
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 2em;
}
.show-info{
  margin-left: 5%;
  padding: 2%;
  margin-top: 5%;
  background-color: white;
  border: thick solid black;
}
#mobile-nav{
  background-color: #FABBC9;
}
@media(min-width: 600px){
  #shows{
    width: 50%;
  }
}
