h2{
  width: 50%;
  margin: 0 auto;
}

h3{
  text-align: center;
}

.container{
  display: flex;
}
.banner{
  justify-content: space-around;
}
#about{
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#kids, #teachers{
  margin: 0 auto;
  text-align: center;
  padding: 10%;
  font-family: "Baloo", sans-serif;
  color: white;
}

#play, #login{
  margin: 0 auto;
  margin-top: 5%;
  width: 75%;
  border-radius: 25px;
}
